{% comment %}
Simple Cart Test Template
{% endcomment %}

<h1>Cart Test Page</h1>
<p>If you can see this, the template is loading.</p>
<p>Cart item count: {{ cart.item_count }}</p>
<p>Translation test: {{ 'general.cart.title' | t }}</p>